@import '../../styles';

.back-button {
    padding: 4px 12px 4px 12px;
    color: $main-text-color;
    background-color: $main-bg-color;
    border: none;
    border-radius: 4px;
    

  }
 
.back-button:hover{
  color: $hover-color;
  transition: color .2s ease-in-out;
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
 
}  

