@import '../../styles';

.navigationbar { 
    display: flex;
    background-color: $main-bg-color;
    padding: 10px;
    text-decoration: none;
    color: $main-text-color;
    margin-bottom: 20px;
}

.navigationbar a { 
    text-decoration: none;
    color: inherit; 
}

.navigationbar h2{
    cursor: pointer;
}

.navigationbar h2:hover{
    color: $hover-color;
    transition: color .2s ease-in-out;
    transform: scale(1.03);
    transition: transform .2s ease-in-out;
}